// // colors
// var(--color-bg): #0f0f10;
// var(--color-white): #fff;
// var(--color-primary): #bc4342;

// $colorYellow: #F6FF1A;
// $colorBlue: #5942BC;


// sizes
$headerHeight: 150px;
$navWidth: 392px;
$columnMaxWith: 1650px;

// mq
$mobile: (max-width: 375px);
$desktop: (max-width: 1920px);
$desktopLarge: (min-width: 1921px);
