// colors are in mainLayout (because css variables)

// sizes
$headerHeight: 150px;
$logoSizeMax: 290px;
$columnMaxWith: 1650px;
$mobileBorderSize: 25px;


// mq
$mobile: "(max-width: 412px)";
$desktop: "(min-width: 413px)";
$desktopLarge: "(min-width: 1921px)";
