// colors are in mainLayout (because css variables)

// sizes
$headerHeight: 150px;
$navWidth: 392px;
$columnMaxWith: 1650px;

// mq
$mobile: (max-width: 375px);
$desktop: (max-width: 1920px);
$desktopLarge: (min-width: 1921px);
